@{
    ViewBag.Title = "Index";
}

<h2>Welcome!</h2>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisi elit, posuere at euismod et, pulvinar a nisl. Quisque ut condimentum neque, at feugiat sapien. Vivamus et nisi arcu. Integer sagittis enim eu scelerisque auctor. Proin pellentesque nisi at eros interdum consequat. Nullam quis libero non ante consectetur viverra. Quisque porta ligula eget pharetra commodo. Nullam dictum libero rhoncus lectus imperdiet feugiat. Nunc et nisi eu nulla vehicula egestas. Morbi blandit volutpat ipsum, ac suscipit mi. Vestibulum convallis non diam sit amet ullamcorper.

Donec ut varius tellus. Nullam facilisis molestie purus, fringilla faucibus diam vehicula ac. Proin nec ipsum quis quam pulvinar vulputate. Fusce in nunc vulputate ex auctor tincidunt. Mauris a felis sollicitudin, pulvinar mi at, scelerisque dolor. Ut varius vulputate sapien, eget placerat metus. Cras a semper nisl. Fusce suscipit nunc sed congue iaculis. Vivamus eu nibh ut turpis gravida bibendum.



